{% extends 'base.html.twig' %}
{% block title %}{{ titulo }}{% endblock %}
{% block body %}
<h1>{{titulo}}</h1>
<h5>{{subTitulo}}</h5>
{{ form_errors(form) }}


    {{ form_start(form) }}


        <div class="container text-left">
            <div class="row align-items-start">
                <div class="col">
                    {{ form_row(form.comissao) }}
                </div>
                <div class="col">
                    {{ form_row(form.limite) }}
                </div>
            </div>
        </div>


        <p> {{ msg }} </p>


    {{ form_end(form) }}






<p> {{ msg }} </p>
        <a href ="{{ path('register/index') }}" class="btn btn-primary">Cancelar alterações</a>
{% endblock %}
