{% extends 'base.html.twig' %}

{% block title %}{{ titulo }}{% endblock %}

{% block body %}

<style>

.user-data-container {
    background-color: #b0e0e6;
    padding: 20px;
    text-align: center;
}

.user-info-box {
    background-color: #fff; /* Fundo branco para destacar as informações do usuário */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    margin-top: 20px;
}

.user-details-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user-detail {
    width: 50%; /* Para garantir que os detalhes se encaixem bem na tela */
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #333; /* Cor do texto */
}

p {
    margin: 0;
}

.btn-info {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    display: inline-block;
}

.bi-person-circle{
    font-size: 4em;
}
</style>
    <div class="user-data-container">
        <h1>{{ titulo }}</h1><i class="bi bi-person-circle"></i>

        <div class="user-info-box">
            {% for usuario in usuario %}
                {% if usuario.id == app.user.id %}
                    <div class="user-details-box">
                        <div class="user-detail">
                            <label>Nome:</label>
                            <p>{{ usuario.nome }}</p>
                        </div>
                        <div class="user-detail">
                            <label>Email:</label>
                            <p>{{ usuario.email }}</p>
                        </div>
                        <div class="user-detail">
                            <label>Senha:</label>
                            <p>*********</p>
                        </div>
                        <div class="user-detail">
                            <label>Endereço:</label>
                            <p>{{ usuario.endereco }}</p>
                        </div>
                        <div class="user-detail">
                            <label>Telefone:</label>
                            <p>{{ usuario.telefone }}</p>
                        </div>
                        <div class="user-detail">
                            <label>CPF:</label>
                            <p>{{ usuario.cpf }}</p>
                        </div>
                        {% if not is_granted('ROLE_ADMIN') %}
                            <div class="user-detail">
                                <label>Comissão:</label>
                                <p>{{ usuario.comissao }}%</p>
                            </div>
                            <div class="user-detail">
                                <label>Limite:</label>
                                <p>R$ {{ usuario.limite }},00</p>
                            </div>
                        {% endif %}
                    </div>
                    <a href="{{ path('register/editUser', {id: usuario.id}) }}" class="btn btn-info" style="margin-right: 10px; background-color: #ff8c00; border-color: #ff8c00; color: white;">Editar meus dados</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
